<!-- 39:30 add {{ Task.text }} & {{ task.day }}-->
<!-- 44:05 add fa-icon -->
<!-- 1:04:00, onDelete-->
<!-- 1:14:00, ngClass-->
<!-- 1:15:00, dbClick = onToggle-->
<div
  [ngClass]="{ reminder: task.reminder }"
  class="task"
  (dblclick)="onToggle(task)"
>
  <h3>
    {{ task.text }}
    <!-- add check mark -->
    <fa-icon
    class="check"
    [ngStyle]="{ color: 'green' }"
    [icon]="faCheck"
    ></fa-icon>
    <fa-icon
      (click)="onDelete(task)"
      [ngStyle]="{ color: 'red' }"
      [icon]="faTimes"
    ></fa-icon>
  </h3>
  <p>{{ task.day }}</p>
  <p id="description">{{ task.location }}</p>
  <p id="description">{{ task.description }}</p>
</div>
